// Base Mixins
@mixin fontBase($url) {
    font-family: "QuickSand";
    src: $url;
  }
  
  //Insert type of size Size of border
  @mixin borderRadius($type) {
    @if $type == "small" {
      border-radius: 0.4rem;
    } @else if $type == "medium" {
      border-radius: 0.6rem;
    } @else if $type == "large" {
      border-radius: 0.8rem;
    }
  }
  
  @mixin inputSize($height, $font-size) {
    height: $height;
    @if ($height == 6rem) {
      padding: 2rem 2rem;
    } @else if($height == 5rem) {
      padding: 1.5rem 2rem;
    } @else if($height == 3rem) {
      padding: 0.7rem 1rem;
    } @else if($height == 2.5rem) {
      padding: 0.5rem 1rem;
    }
    font-size: $font-size;
    line-height: 1.3333333;
  
    @include borderRadius("small");
  }
  