@font-face {
    @include fontBase(url(../fonts/QuickSand/Quicksand-Regular.ttf));
  }
  
  @font-face {
    @include fontBase(url(../fonts/QuickSand/Quicksand-Bold.ttf));
    font-weight: 700;
  }
  
  @font-face {
    @include fontBase(url(../fonts/QuickSand/Quicksand-Medium.ttf));
    font-weight: 600;
  }
  
  @font-face {
    @include fontBase(url(../fonts/QuickSand/Quicksand-Light.ttf));
    font-weight: 300;
  }
  
  html {
    font-size: 10px;
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: "Quicksand", sans-serif, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
      sans-serif !important;
    font-weight: 400;
    font-size: 10px;
    color: $color-primary-gray;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  a {
    color: $color-primary-gray;
    &:hover,
    &:focus,
    &:active {
      color: $color-primary;
      outline: 0 !important;
      text-decoration: none;
      box-shadow: none;
    }
  }
  
  input {
    max-width: 100%;
  }
  
  img {
    max-width: 100%;
  }
  
  p {
    line-height: 2.5rem;
  }
  
  ul {
    list-style: none;
    cursor: pointer;
    padding-inline-start: 1.6rem;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  
  button {
    border: 0 none;
    font-weight: 400;
  }
  
  select {
    &:hover,
    &:focus,
    &:active {
      outline: 0 !important;
      text-decoration: none;
      box-shadow: none;
    }
  }
  
  textarea {
    border: 1px solid #e0e6ed;
  }
  
  table {
    border: 1px solid $color-background-extra-dark;
  }
  
  .table {
    background-color: #ffffff;
  }
  .table thead th {
    background-color: $color-background-off-white;
    border-top: 1px solid $color-background-extra-dark;
    border-bottom: 1px solid $color-background-extra-dark;
  }
  
  .table th {
    border-bottom: 1px solid $color-background-extra-dark;
  }
  
  // .container {
  // 	width: 1200px;
  // 	padding-left: 0;
  // 	padding-right: 0;
  //   }
  